.heroBanner {
  background: #8CADC4;
}

.heroImage {
  width: 100%;
  height: 880px;
  background: url('https://cvportoliobucket.s3.amazonaws.com/uploads/2017/11/hero.jpg');
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
  mix-blend-mode: multiply;
}

.heroText {
  position: absolute;
  top: 2em;
  margin: 0 6%;
  font-size: 4em;
  font-weight: 600;
  letter-spacing: 0.12em;
  line-height: 1.15em;
  color: #EAEFF3;
  z-index: 1;
}

.heroText span {
  color: #FFA500;
}

@media (max-width: 768px) {
  .heroBanner {
    background: #6E899B;
  }
  .heroImage {
    filter: blur(3px);
  }
}

.introText {
  margin: 3em auto;
  padding-bottom: 3em;
  font-size: 1.5em;
}
