.standUp {
  margin-top: 0.75vh;
}

.standUpHeading {
  position: relative;
  z-index: 1;
}

.twitterHeader {
  position: relative;
  width: 100%;
  min-width: 229px;
  height: 45px;
  top: 45px;
  margin-top: -90px;
  border-bottom: 1px solid #E3E9EC;
  background: white;
}

@media (min-width: 475px) {
  .twitterHeader {
    height: 57px;
    top: 57px;
    margin-top: -114px;
  }
}

@media (min-width: 768px) {
  .twitterHeader {
    height: 45px;
    top: 45px;
    margin-top: -90px;
  }
}

@media (min-width: 991px) {
  .twitterHeader {
    height: 57px;
    top: 57px;
    margin-top: -114px;
  }
}

.twitterTimelineContainer {
  border-left: 1px solid #E3E9EC;
}

.twitterFooter {
  position: relative;
  width: 100%;
  min-width: 229px;
  height: 47px;
  top: -53px;
  margin-bottom: -84px;
  border-top: 1px solid #E3E9EC;
  background: white;
}
