.about {
  margin: 6em auto;
}

.selfTaught {
  margin-top: 3em;
}

.getInTouch {
  margin-top: 2em;
}

.toolsList {
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.75em;
  color: #6D7C8B;
}
