/* ScreenshotInLaptop component */
.screenshotInLaptop {
  width: 100%;
  position: relative;
}

.laptop {
  width: 100%;
  vertical-align: top;
}

.screenshotContainer {
  width: 75.9%;
  height: 67.52%;
  position: absolute;
  top: 15%;
  left: 12.1%;
  overflow: hidden;
}

.screenshot {
  width: 100%;
}


/* Preview component */
.preview {
  width: 100%;
  margin: 1em auto;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.previewTitle {
  letter-spacing: 0.01em;
  color: #455466;
}

.previewImageContainer {
  padding: 1.5em 0.75em;
  background: whitesmoke;
}

.previewTechStack {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewTechStack h5 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.75em;
  color: #6D7C8B;
}

.previewShortDescription {
  min-height: 5em;
}


/* Preview component overlay effect */
.previewCardImgOver {
  padding: 0;
}

.previewOverlayBackground {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: transparent;
}

.previewOverlayBackground:hover {
  background: rgba(23, 39, 48, 0.95);
  opacity: 1;
}

.previewSelect {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.04em;
  color: #EAEFF3;
  border-color: #EAEFF3;
}

.previewSelect:hover {
  background: #EAEFF3;
  color: rgba(23, 39, 48, 1);
}
