@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700');

html {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: white;
}

.title {
  letter-spacing: 0.01em;
  color: #2e3844;
}

.subtitle {
  letter-spacing: 0.03em;
  color: #6D7C8B;
}

.bodyText {
  font-size: 1em;
  line-height: 1.8em;
  font-family: 'Droid Serif', serif;
  color: #2e3844;
}

.sectionHeading {
  margin-top: 2.5em;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgb(106, 116, 126);
}

.renderedHTML a {
  color: #6D7C8B;
}

.linkUnstyled {
  text-decoration: none;
  color: #6D7C8B;
}

.linkUnstyled:hover {
  color: #6D7C8B;
}

/* CSSTransitionGroup settings to compliment lazy loading */
.fadeInOnLoad-appear {
  opacity: 0.01;
}

.fadeInOnLoad-appear.fadeInOnLoad-appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
